extends ../base/layout

block variables
  - var title = "Список страниц"

block main
  style.
    .container {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    h1 {
      margin: 0;
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
    }

    a {
      color: #4573ff;
      transition: color 0.3s ease;
    }

    a:hover {
      color: #ec4c4c;
    }

    li {
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 7px;
    }

    img {
      width: 100%;
      max-width: 48px;
      height: auto;
      display: block;
      margin-bottom: 20px;
    }

    @media (max-width: 768px) {
      .container {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      ol {
        padding-left: 20px;
      }

      ol li {
        margin-bottom: 15px;
      }
    }

  -
    var pages = [
      {
        name: "UI-kit — ui-kit.html",
        src: "ui-kit.html"
      },
      {
        name: "Главная — main.html",
        src: "main.html"
      },
      {
        name: "Название страницы (состояние страницы, если отдельное) — ссылка на страницу",
        src: "#"
      },
    ]

  main.container.main-index
    img(src="img/sprite/logo.svg", width="48", height="47", alt="Логотип проекта")
    h1 Список страниц
    ol
      each page in pages
        li
          a(href= page.src)= page.name
