extends ../base/layout

block variables
  - const title = "О нас - сайт 1-в класса школы №56" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentPage = 2 //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main.page-main
    section.intro.intro--blue
      .intro__wrapper.container
        h2.intro__title Новости

    .news-block
      .news-block__wrapper.container
        ul.news-block__list
          each item in newsList
            li.news-block__item
              +news(item)

block modals
