.info {
  display: flex;
  width: 100%;
  padding: 60px 0;

  @include vp--1023 {
    padding: 45px 0;
  }

  @include vp--767 {
    padding: 30px 0;
  }
}

.info__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.info__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px;
  color: $color-black;
  background-color: rgba($color-royal-blue, 0.2);
  border-radius: 8px;

  @include vp--1023 {
    padding: 30px;
  }

  @include vp--767 {
    padding: 15px;
  }

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.info__content--green {
  color: $color-black;
  background-color: rgba($color-sea-green, 0.2);
}

.info__content--red {
  color: $color-black;
  background-color: rgba($color-sunset-orange, 0.2);
}

.info__content-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

  @include vp--1023 {
    font-size: 22px;
    line-height: 24px;
  }

  @include vp--767 {
    font-size: 18px;
    line-height: 24px;
  }

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.info__content-subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.info__content-text {
  margin: 0;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.info__content-list {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: number-counter;
  font-size: 18px;
  line-height: 24px;

  &:not(:last-child) {
    margin-bottom: 28px;
  }
}

.info__content-item {
  position: relative;
  counter-increment: number-counter;
  padding-left: calc(32px + 10px);

  &::before {
    content: counter(number-counter) ". ";
    position: absolute;
    top: -4px;
    left: 0;
    transform: rotate(-10deg);
    width: 32px;
    height: 32px;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 32px;
    color: #fcd000;
    background-color: $color-black;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 1px 0 #999;
  }

  &:not(:last-child) {
    margin-bottom: 18px;
  }
}

.info__img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 28px;
  }

  img {
    max-width: 80%;
  }
}

.info__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.info__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 40px;
  border-radius: 8px;

  @include vp--767 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px;
  }

  &:nth-child(even) {
    color: $color-black;
    background-color: rgba($color-yellow-orange, 0.8);

    a {
      color: $color-default-white;
      background-color: #F17E7E;

      @media (hover: hover), screen and (min-width: 0\0) {
        &:hover,
        &:focus {
          background-color: $color-sunset-orange;
        }
      }
    }
  }

  &:nth-child(odd) {
    color: $color-default-white;
    background-color: rgba($color-sea-green, 0.8);

    a {
      color: $color-default-white;
      background-color: #7094FF;

      @media (hover: hover), screen and (min-width: 0\0) {
        &:hover,
        &:focus {
          background-color: $color-royal-blue;
        }
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  span {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    &:not(:last-child) {
      @include vp--767 {
        margin-bottom: 16px;
      }
    }
  }

  a {
    padding: 12px 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    transition: background-color $trans--300;

    @include vp--767 {
      width: 100%;
    }



  }
}
