.main-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.main-nav__toggle {
  display: none;
}

.main-nav__wrapper {
  display: flex;
  align-items: center;
}

.main-nav__list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: flex;
  align-items: center;

  &:not(:first-child) {
    margin-left: 16px;
  }
}

.main-nav__link {
  display: inline-flex;
  padding: 18px 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: $color-black;
  background-color: $color-default-white;
  outline: none;
  transition: color $trans--300, background-color $trans--300;
}

.main-nav__link[href] {
  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      // color: $color-default-white;
      // background-color: $color-sunset-orange;
      color: $color-sea-green;
    }
  }
}

.main-nav__link--active {
  // color: $color-default-white;
  // background-color: $color-sunset-orange;
  color: $color-sea-green;
}
