.news-block {
  display: flex;
  width: 100%;
  padding: 60px 0;
  color: $color-black;
  // background-color: #C2D1FF;
  background-color: #D6E0FF;
}

.news-block__wrapper {
  display: flex;
}

.news-block__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.news-block__item {
  display: flex;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 50px;
  }
}
