.promo {
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  height: calc(100vh - 60px);
  min-height: 650px;
  color: $color-default-white;
  background-color: $color-royal-blue;

  @include vp--1023 {
    height: auto;
    min-height: 600px;
  }

  @include vp--767 {
    height: auto;
    min-height: 500px;
  }
}

.promo__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.promo__bg-star {
  position: absolute;

  svg {
    display: block;
  }
}

.promo__bg-star--1 {
  top: 2vh;
  left: 5.7%;
  transform: rotate(48deg);

  @include vp--1023 {
    width: 65px;
  }

  @include vp--767 {
    display: none;
  }

  svg {
    @include vp--1023 {
      width: 100%;
      height: auto;
    }
  }
}

.promo__bg-star--2 {
  top: 45vh;
  left: 16.7%;
  transform: rotate(25deg);

  @include vp--1023 {
    width: 45px;
  }

  @include vp--767 {
    display: none;
  }

  svg {
    @include vp--1023 {
      width: 100%;
      height: auto;
    }
  }
}

.promo__bg-star--3 {
  top: 49vh;
  left: 7%;
  transform: rotate(-5deg);

  @include vp--1023 {
    display: none;
  }

  @include vp--767 {
    top: 375px;
    display: block;
  }
}

// .promo__bg-star--4 {
//   top: 42vh;
//   left: 55%;
//   transform: rotate(-5deg);
// }

.promo__bg-star--5 {
  top: 9vh;
  right: 4%;
  transform: rotate(-10deg);

  @include vp--767 {
    display: none;
  }
}

.promo__bg-star--6 {
  top: 40vh;
  right: 19.7%;
  transform: rotate(-5deg);

  @include vp--767 {
    top: 350px;
    width: 25px;
    height: 25px;
  }

  svg {
    @include vp--767 {
      width: 100%;
      height: auto;
    }
  }
}

.promo__bg-star--7 {
  top: 43.7vh;
  right: 3.2%;
  transform: rotate(-20deg);

  @include vp--767 {
    top: 380px;
    width: 30px;
    height: 30px;
  }

  svg {
    @include vp--767 {
      width: 100%;
      height: auto;
    }
  }
}

.promo__bg-img {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;

  svg {
    width: 100%;
    height: 100%;
  }
}

.promo__bg-img--1 {
  &::before {
    content: "";
    position: absolute;
    bottom: -99px;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #7094ff;
  }
}

.promo__bg-img--2 {
  &::before {
    content: "";
    position: absolute;
    bottom: -99px;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #adc2ff;

    @include vp--767 {
      bottom: -99px;
      height: 100px;
    }
  }
}

.promo__bg-img--3 {
  &::before {
    content: "";
    position: absolute;
    bottom: -299px;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: $color-default-white;

    @include vp--767 {
      bottom: -199px;
      height: 200px;
    }
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__desc {
  margin: 0;
  margin-top: 25vh;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @include vp--1023 {
    margin-top: 70px;
    font-size: 56px;
    line-height: 60px;
  }

  @include vp--767 {
    max-width: 400px;
    margin-top: 70px;
    font-size: 46px;
    line-height: 48px;
  }

  &:not(:last-child) {
    margin-bottom: 44px;
  }
}

.promo__title {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @include vp--1023 {
    font-size: 32px;
    line-height: 36px;
  }

  @include vp--767 {
    max-width: 350px;
    font-size: 28px;
    line-height: 32px;
  }
}
