.schedule-lesson {
  display: flex;
  width: 100%;
  padding: 60px 0;
  // background-image: url("../img/svg/bg-spots-yellow.svg");
  // background-image: url("../img/svg/bg-pattern-blue.svg");
  // background-repeat: repeat;
  // background-position: 0 0;
  color: $color-black;
  background-image: url("../img/svg/bg-pattern-randomized.svg");
  background-position: 0 0;
  background-size: cover;
}

.schedule-lesson__wrapper {
  display: flex;
  flex-direction: column;
}

.schedule-lesson__list {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 32px * 2);
  margin: -32px;
  padding: 0;
  list-style: none;
}

.schedule-lesson__item {
  display: flex;
  width: calc((100% - 32px * 6) / 3 );
  margin: 32px;
}
