mixin footer(footerMods)
  footer.footer(class=footerMods)
    .footer__wrapper.container
      p.footer__copyright &copy;&nbsp;МБОУ &laquo;Cредняя школа &#8470;&nbsp;56&raquo;, 2021&nbsp;| 153035, Россия, г.&nbsp;Иваново, ул.&nbsp;Лазарева,&nbsp;д.1/2
      .footer__links-box
        a.footer__link(href="http://school56.ivedu.ru/", target="_blank", rel="noopener") Мбоу &laquo;Cредняя школа &#8470;&nbsp;56&raquo;
        ul.footer__social-list
          li.footer__social-item
            a.footer__social-link(href="https://vk.com/shcool_56_ivanovo", aria-label="Ссылка в Вконтакте", rel="noopener", target="_blank")
              +icon("icon-vk", 32, 32)
          li.footer__social-item
            a.footer__social-link(href="https://www.instagram.com/school56ivanovo/", aria-label="Ссылка в Вконтакте", rel="noopener", target="_blank")
              +icon("icon-ig", 32, 32)
