-
  var holidaysList = [
    {
      color: "yellow",
      image: "autumn",
      alt: "осень",
      title: "осенние каникулы",
      textList: ["25.10.2021 - 07.11.2021"],
    },
    {
      mod: "reverse",
      color: "blue",
      image: "winter",
      alt: "зима",
      title: "зимние каникулы",
      textList: ["30.12.2021 - 08.01.2022", "14.02.2022 - 20.02.2022"],
    },
    {
      color: "red",
      image: "spring",
      alt: "весна",
      title: "весенние каникулы",
      textList: ["26.03.2022 - 02.04.2022"],
    },
    {
      mod: "reverse",
      color: "green",
      image: "summer",
      alt: "лето",
      title: "летние каникулы",
      textList: ["01.06.2022 - 31.08.2022"],
    },
  ];
  var lessonsList = [
    {
      color: "red",
      day: "Понедельник",
      lessons: ["Русский язык", "Математика", "Чтение", "Музыка", "Хор <span>(до 12:00)</span>",]
    },
    {
      color: "red",
      day: "Вторник",
      lessons: ["Русский язык", "Математика", "Окружающий мир", "Физкультура",]
    },
    {
      color: "red",
      day: "Среда",
      lessons: ["Русский язык", "Математика", "Окружающий мир", "Чтение",]
    },
    {
      color: "red",
      day: "Четверг",
      lessons: ["Русский язык", "Математика", "Чтение", "ИЗО", "Физкультура",]
    },
    {
      color: "red",
      day: "Пятница",
      lessons: ["Русский язык", "Чтение", "Математика",  "Технология",]
    },
  ];
  var callList = [
    {
      lesson: "1 урок",
      callTime: "8:00 - 8:40",
    },
    {
      lesson: "2 урок",
      callTime: "8:50 - 9:30",
    },
    {
      lesson: "3 урок",
      callTime: "9:50 - 10:30",
    },
    {
      lesson: "4 урок",
      callTime: "10:40 - 11:20",
    },
    {
      lesson: "5 урок",
      callTime: "11:40 - 12:20",
    },
  ];
  var sectionsList = [
    {
      link: "schedule.html",
      img: "img-menu-1",
      title: "Расписание",
    },
    {
      link: "info.html",
      img: "img-menu-2",
      title: "Полезная информация",
    },
    {
      link: "holidays.html",
      img: "img-menu-3",
      title: "Каникулы",
    },
    {
      link: "news.html",
      img: "img-menu-5",
      title: "Новости",
    },
    {
      link: "gallery.html",
      img: "img-menu-4",
      title: "Галерея",
    },
  ];
  var infoList = [
    {
      text: "Активные каникулы",
      link: "downloads/Zima-belaya skazka.pdf",
    },
    {
      text: "Всероссийские конкурсы",
      link: "downloads/Kormushka dlya pticzh.pdf",
    },
  ];
  var readList = ["Ничего не&nbsp;делайте за&nbsp;ребенка из&nbsp;того, что он&nbsp;может и&nbsp;умеет делать сам.", "Воспитывайте интерес ребенка к&nbsp;чтению личным примером.", "Не&nbsp;заставляйте ребенка читать насильно, заинтересуйте его чтением, подбирая книги, которые могли&nbsp;бы чем-то его привлечь.", "Можно купить школьнику аудиокнигу по&nbsp;произведениям русских классиков, можно найти и&nbsp;показать достойный фильм, снятый по&nbsp;классике, а&nbsp;потом попросить прочитать книгу. Обсудите различия.", "Приучите ребенка значение любого незнакомого слова смотреть в&nbsp;словаре.", "Совместное чтение книг, пересказ прочитанного друг другу и&nbsp;невольно возникающий при этом обмен мнениями&nbsp;&mdash; естественный путь читательского общения в&nbsp;семье.", "Вспоминайте любимые книги своего детства, как&nbsp;бы разжигая аппетит к&nbsp;важным для каждого человека книгам. Пересматривайте книги собственной библиотеки с&nbsp;участием детей. О&nbsp;книгах любимых рассказывайте с&nbsp;восхищением.", "Поручите школьнику составить каталог домашних книг. Опыт показывает, что он&nbsp;может найти интересную для себя, копаясь в&nbsp;книгах.", "Проконтролируйте, чтобы в&nbsp;дорогу была взята интересная книга.", "Если юный читатель увлекся какой-либо темой, подкиньте ему нужную литературу. Позаботьтесь о&nbsp;том, чтобы в&nbsp;руки ребенка попадали действительно хорошие книги.", "Убедите школьника записаться в&nbsp;городскую библиотеку и&nbsp;посещать ее&nbsp;не&nbsp;реже двух раз в&nbsp;месяц. Учитель с&nbsp;удовольствием порекомендует интересные книги."];
  var rulesList = ["Главное: старайся жить так, чтобы людям рядом с&nbsp;тобой было хорошо.", "Прежде, чем обратиться к&nbsp;человеку, улыбнись ему: ведь добрые отношения начинаются с&nbsp;улыбки.", "Научись радоваться не&nbsp;только своим успехам, но&nbsp;и&nbsp;успехам товарищей по&nbsp;классу.", "Никогда никому не&nbsp;завидуй и&nbsp;не&nbsp;ябедничай: ябеда озлобляет людей и&nbsp;разрушает их&nbsp;отношения.", "Старайся прийти на&nbsp;помощь товарищу, не&nbsp;жди пока тебя об&nbsp;этом попросят.", "Если тебе будет плохо, не&nbsp;спеши обвинять в&nbsp;этом других. Учись терпеть неприятности. Плохое скоро проходит.", "Дорожи школьной дружбой. Цени свой класс и&nbsp;свою школу.", "И&nbsp;еще о&nbsp;главном: относись к&nbsp;людям так, как ты&nbsp;хочешь, чтобы относились к&nbsp;тебе."];
  var rulesWinterList = ["Соблюдай правила дорожного движения. Знай, что зимняя дорога опасна.", "Помогай младшим и&nbsp;старшим. Без разрешения родителей не&nbsp;уходи далеко от&nbsp;дома, если нужно уйти&nbsp;&mdash; предупреди родителей.", "Осторожно пользуйся газовой плитой, электроприборами, не&nbsp;оставляй их&nbsp;без присмотра.", "Будь осторожен с&nbsp;фейерверками, пользуйся ими только со&nbsp;взрослыми. Не&nbsp;используй петарды&nbsp;&mdash; это опасно для твоего здоровья.", "Не&nbsp;засиживайся перед телевизором и&nbsp;компьютером. Читай книги, посещай кружки, самостоятельно занимайся дополнительно по&nbsp;школьным предметам (при необходимости).", "Больше гуляй на&nbsp;свежем воздухе. Встречайся с&nbsp;друзьями.", "Не&nbsp;общайся с&nbsp;незнакомыми людьми, не&nbsp;приглашай их&nbsp;в&nbsp;дом.", "Не&nbsp;трогай бесхозные сумки или коробки.", "Запрещается пребывание вблизи водоемов в&nbsp;период зимних каникул.", "Не&nbsp;разрешается пребывание на&nbsp;улице после 22.00 часа без сопровождения взрослых.",];
  var winterReadingList = ['Морозко', 'Два Мороза', 'Гуси-лебеди', 'Лиса и заяц', 'Маша и медведь', 'Мужик и медведь', 'По щучьему веленью', 'Сестрица Алёнушка и братец Иванушка', 'Лисичка со скалочкой', 'Волк и лиса'];
  var winterAdviceList = ['Для детей главное, чтобы дни были разнообразными. Напишите план: горка, снег, гулянья, гости, кино, музеи, совместное чтение книг.', 'Как можно больше времени проводите на&nbsp;свежем воздухе..Гуляйте в&nbsp;парке, во&nbsp;дворе, ездите в&nbsp;лесопарки, берите коньки&nbsp;&mdash; и&nbsp;марш на&nbsp;каток, катайтесь на&nbsp;лыжах. Постарайтесь весь световой день провести на&nbsp;улице. Ведь когда выйдете на&nbsp;работу, погулять уже не&nbsp;получится. И&nbsp;детям гулянье необходимо!', 'Сделайте&nbsp;то, о&nbsp;чём давно мечтали, но&nbsp;до&nbsp;чего никак не&nbsp;дойдут руки. Поставьте домашний спектакль, съездите в&nbsp;гости к&nbsp;друзьям, которые далеко живут, обязательно навестите бабушек, дедушек, сходите в&nbsp;театр. Главное&nbsp;&mdash; всей семьёй.', 'Устройте домашний детский праздник. Соберите друзей, соседей, отрепетируйте представление, нарядитесь в&nbsp;костюмы, поиграйте в&nbsp;сказку, приготовьте простое угощение на&nbsp;разноцветных бумажных тарелочках, чтобы не&nbsp;мыть посуду.', 'Организуйте праздник во&nbsp;дворе. Так вы&nbsp;и&nbsp;поиграете, и&nbsp;погуляете. Нарядите ёлку, поиграйте в&nbsp;ручеек. Поверьте, это понравится и&nbsp;детям, и&nbsp;взрослым. Заодно и&nbsp;соседей своих поближе узнаете.', 'Разнообразьте катание с&nbsp;горки&nbsp;&mdash; устройте там праздник с&nbsp;конкурсами: кто дальше всех уедет, кто быстрее и&nbsp;т.&nbsp;д. Куртки можно украсить ёлочным дождиком.', 'Идите в&nbsp;зимний поход. В&nbsp;парк или в&nbsp;лес. Закопайте под елками сюрпризы, маленькие подарочки. Нарисуйте карту или план. Под ёлкой найдите письмо Деда Мороза, в&nbsp;котором он&nbsp;пишет: &laquo;К&nbsp;сожалению, я&nbsp;до&nbsp;тебя не&nbsp;доехал, сани мои сломались, пришлось закопать твой подарок под ёлочкой. Вот карта, по&nbsp;ней ты&nbsp;сможешь свой подарок найти&raquo;. Пусть ребёнок по&nbsp;карте ищет нужные ёлки и&nbsp;обнаруживает подарки. Поверьте, дети от&nbsp;таких поисков сокровищ будут в&nbsp;восторге!', 'Гуляя в&nbsp;лесу, давайте ребёнку задания: повесить кормушку, насыпать корм в&nbsp;уже висящие кормушки, зарисовать все деревья, которые он&nbsp;встречает.', 'Сходите в&nbsp;музей. Школьнику будет интересно в&nbsp;музее краеведческом, зоологическом.', 'Устройте день рождественских подарков. За&nbsp;пару дней до&nbsp;праздника организуйте дома &laquo;волшебную мастерскую&raquo;. Купите книжку с&nbsp;поделками и&nbsp;мастерите вместе с&nbsp;детьми! Делайте витражи, рисуйте картины на&nbsp;дереве, на&nbsp;холсте, вырезайте фигурки и&nbsp;клейте аппликации.', 'Вместе с&nbsp;ребёнком устройте акцию&nbsp;&mdash; разберите детские вещи (можно и&nbsp;свои тоже), соберите хорошую одежду, из&nbsp;которой малыш вырос, игрушки и&nbsp;отправьте всё это нуждающимся детям в&nbsp;детские дома или в&nbsp;социальные центры. Ребёнку очень полезно сделать такое доброе дело.', 'Не&nbsp;смотрите телевизор безостановочно! Заранее отметьте в&nbsp;программе те&nbsp;передачи и&nbsp;фильмы, которые вам понравятся, посмотрите их&nbsp;вместе с&nbsp;детьми, обсудите.', 'Устройте &laquo;день вкуснятины&raquo;. Можно, например, освободить в&nbsp;этот день маму от&nbsp;кухни, а&nbsp;папе с&nbsp;детьми наготовить простых вкусностей. И&nbsp;все вместе пеките печенье, позвольте детям измазаться в&nbsp;муке, в&nbsp;тесте, налепить неровных фигурок. Главное&nbsp;&mdash; самостоятельно!', 'Но, конечно&nbsp;же, не&nbsp;следует забывать о&nbsp;ХОРОШЕМ ЧТЕНИИ КНИГ! Читайте ВМЕСТЕ, обсудите, напишите отзыв, нарисуйте рисунок. Читать можно любую книгу.', 'А&nbsp;так&nbsp;же в&nbsp;форме игры повторяйте с&nbsp;детьми словарь по&nbsp;русскому языку, таблицу сложения.', '<b>Во&nbsp;время каникул не&nbsp;забывайте про технику безопасности! Берегите своих детей! Напоминайте всё время про личную безопасность на&nbsp;дорогах, на&nbsp;улице, дома!!!</b>', 'За&nbsp;два-три дня до&nbsp;школы начинать вставать пораньше. <b>Занятия начнутся 10&nbsp;января!</b>',];
  var newsList = [
    {
      datetime: "28-12-2021",
      date: "2021/12/28",
      text: ["<b>Наши именинники в&nbsp;январе:</b>", "Базулина София - 15 января;", "Хабаров Давид - 16 января;", "Андреева Милена - 27 января;"]
    },
    {
      datetime: "12-12-2021",
      date: "2021/12/12",
      text: ["12&nbsp;декабря 2021&nbsp;г. ученица нашего класса Тарасова Влада посетила МАСТЕР-КЛАСС по&nbsp;художественной гимнастике двукратной Олимпийской чемпионки ЕВГЕНИИ КАНАЕВОЙ"],
      images: [
        {
          name: "IMG-45154.jpg",
          width: "1080",
          height: "1080",
          alt: "Тарасова Влада",
        },
        {
          name: "IMG-604154.jpg",
          width: "1080",
          height: "1080",
          alt: "Тарасова Влада",
        },
      ]
    },
    {
      datetime: "01-12-2021",
      date: "2021/12/01",
      text: ["<b>Наши именинники в&nbsp;декабре:</b>", "Горнак Даниил - 10 декабря;", "Земскова Елизавета - 19 декабря;", "Земсков Николай - 19 декабря;", "Мартыненко Кирилл - 22 декабря;", "Строганова Ольга - 24 декабря;", "Евстигнеев Дмитрий - 25 декабря."]
    },
    {
      datetime: "01-11-2021",
      date: "2021/11/01",
      text: ["<b>Наши именинники в&nbsp;ноябре:</b>", "Чеканов Петр - 14 ноября;", "Платонов Александр - 28 ноября."],
    },
    {
      datetime: "01-10-2021",
      date: "2021/10/01",
      text: ["<b>Наши именинники в&nbsp;октябре:</b>", "Микиртумова Анастасия - 2 октября;", "Напорова Анастасия - 4 октября;", "Головушкина Алиса - 28 октября."],
    },
    {
      datetime: "01-10-2021",
      date: "2021/10/01",
      text: ["<b>1&nbsp;октября</b> наши ребята поздравляли своих бабушек и&nbsp;дедушек <b>с&nbsp;днём пожилого человека.</b>"],
      videos: [
        {
          name: "",
        }
      ]
    },
    {
      datetime: "18-09-2021",
      date: "2021/09/18",
      text: ["<b>18&nbsp;сентября</b> в&nbsp;нашем классе прошла <b>викторина</b>, посвященная ПДД в&nbsp;рамках акции <b>&laquo;Внимание- дети&raquo;<//b>"],
      images: [
        {
          name: "IMG_20210918_090102_858.jpg",
          width: "1080",
          height: "1080",
          alt: "ученики 1 В класса",
        },
        {
          name: "IMG_20210918_090103_347.jpg",
          width: "1080",
          height: "1080",
          alt: "ученики 1 В класса",
        },
        {
          name: "IMG_20210918_090103_398.jpg",
          width: "1080",
          height: "1080",
          alt: "ученики 1 В класса",
        },
        {
          name: "IMG_20210918_090103_033.jpg",
          width: "1080",
          height: "1080",
          alt: "ученики 1 В класса",
        },
        {
          name: "IMG_20210918_090103_219.jpg",
          width: "1080",
          height: "1080",
          alt: "ученики 1 В класса",
        },
        {
          name: "IMG_20210918_090103_287.jpg",
          width: "1080",
          height: "1080",
          alt: "ученики 1 В класса",
        },
      ]
    },
    {
      datetime: "01-09-2021",
      date: "2021/09/01",
      text: ["<b>Наши именинники в&nbsp;сентябре:</b>", "Тетюшева Маргарита - 13&nbsp;сентября."],
    },
    {
      datetime: "01-09-2021",
      date: "2021/09/01",
      text: ["<b>1&nbsp;сентября- День знаний!</b>", "Двери нашей школы распахнулись, чтобы дать старт новому учебному году. Традиционно прошла торжественная линейка, посвященная дню знаний.", "Праздник 1&nbsp;сентября всегда остаётся незабываемым,радостным и&nbsp;в&nbsp;тоже время волнующим.", "Желаем нашим первоклашкам , чтобы все дни,проведенные в&nbsp;школе были радостными, богатыми на&nbsp;знания, открытия, творчество и&nbsp;достижения!"],
      images: [
        {
          name: "IMG_20210918_085138_287.jpg",
          width: "1080",
          height: "1080",
          alt: "ученики 1 В класса",
        },
        {
          name: "IMG_20210918_085138_185.jpg",
          width: "1080",
          height: "1080",
          alt: "ученики 1 В класса",
        },
        {
          name: "IMG_20210918_085745_986.jpg",
          width: "1080",
          height: "1080",
          alt: "ученики 1 В класса",
        },
      ]
    }
  ];
  var imagesList = [
    {
      name: 'IMG_20211229_093521.jpg',
      width: 748,
      height: 1000,
      alt: 'ученики 1-в класса',
    },
    {
      name: 'IMG_20211229_093547.jpg',
      width: 748,
      height: 1000,
      alt: 'ученики 1-в класса',
    },
    {
      name: 'IMG_20211229_093603.jpg',
      width: 748,
      height: 1000,
      alt: 'ученики 1-в класса',
    },
    {
      name: 'IMG_20211229_093623.jpg',
      width: 748,
      height: 1000,
      alt: 'ученики 1-в класса',
    },
    {
      name: 'IMG_20211229_093645.jpg',
      width: 748,
      height: 1000,
      alt: 'ученики 1-в класса',
    },
    {
      name: 'IMG_20211229_093659.jpg',
      width: 748,
      height: 1000,
      alt: 'ученики 1-в класса',
    },
    {
      name: 'IMG_20211229_093723.jpg',
      width: 748,
      height: 1000,
      alt: 'ученики 1-в класса',
    },
    {
      name: 'IMG_20211229_093746.jpg',
      width: 748,
      height: 1000,
      alt: 'ученики 1-в класса',
    },
    {
      name: 'IMG_20211229_093810.jpg',
      width: 748,
      height: 1000,
      alt: 'ученики 1-в класса',
    },
    {
      name: 'IMG_20211229_093834.jpg',
      width: 748,
      height: 1000,
      alt: 'ученики 1-в класса',
    },
    {
      name: 'IMG_20211229_093849.jpg',
      width: 748,
      height: 1000,
      alt: 'ученики 1-в класса',
    },
    {
      name: 'IMG_20211229_093925.jpg',
      width: 748,
      height: 1000,
      alt: 'ученики 1-в класса',
    },
    {
      name: 'IMG_20211229_093927.jpg',
      width: 748,
      height: 1000,
      alt: 'ученики 1-в класса',
    },
    {
      name: 'IMG_20211229_093946.jpg',
      width: 748,
      height: 1000,
      alt: 'ученики 1-в класса',
    },
    {
      name: 'IMG_20211229_094010.jpg',
      width: 748,
      height: 1000,
      alt: 'ученики 1-в класса',
    },
    {
      name: 'IMG_20211229_094013.jpg',
      width: 748,
      height: 1000,
      alt: 'ученики 1-в класса',
    },
    {
      name: 'IMG_20211229_094015.jpg',
      width: 748,
      height: 1000,
      alt: 'ученики 1-в класса',
    },
    {
      name: 'IMG_20211229_094017.jpg',
      width: 748,
      height: 1000,
      alt: 'ученики 1-в класса',
    },
    {
      name: 'IMG_20211229_094034.jpg',
      width: 748,
      height: 1000,
      alt: 'ученики 1-в класса',
    },
    {
      name: 'IMG_20211229_094105.jpg',
      width: 748,
      height: 1000,
      alt: 'ученики 1-в класса',
    },
    {
      name: 'IMG_20211229_094106.jpg',
      width: 748,
      height: 1000,
      alt: 'ученики 1-в класса',
    },
    {
      name: 'IMG_20211229_094130.jpg',
      width: 748,
      height: 1000,
      alt: 'ученики 1-в класса',
    },
    {
      name: 'IMG_20211229_094219.jpg',
      width: 748,
      height: 1000,
      alt: 'ученики 1-в класса',
    },
    {
      name: 'IMG_20211229_094304.jpg',
      width: 748,
      height: 1000,
      alt: 'ученики 1-в класса',
    },
    {
      name: 'IMG_20211229_094306.jpg',
      width: 748,
      height: 1000,
      alt: 'ученики 1-в класса',
    },
    {
      name: 'IMG_20211229_094356.jpg',
      width: 748,
      height: 1000,
      alt: 'ученики 1-в класса',
    },
    {
      name: 'IMG_20211229_094406.jpg',
      width: 748,
      height: 1000,
      alt: 'ученики 1-в класса',
    },
    {
      name: 'IMG_20211229_094414.jpg',
      width: 748,
      height: 1000,
      alt: 'ученики 1-в класса',
    },
  ]
