-
  var holidaysList = [
    {
      color: "yellow",
      image: "autumn",
      alt: "осень",
      title: "осенние каникулы",
      textList: ["25.10.2021 - 07.11.2021"],
    },
    {
      mod: "reverse",
      color: "blue",
      image: "winter",
      alt: "зима",
      title: "зимние каникулы",
      textList: ["30.12.2021 - 08.01.2022", "14.02.2022 - 20.02.2022"],
    },
    {
      color: "red",
      image: "spring",
      alt: "весна",
      title: "весенние каникулы",
      textList: ["26.03.2022 - 02.04.2022"],
    },
    {
      mod: "reverse",
      color: "green",
      image: "summer",
      alt: "лето",
      title: "летние каникулы",
      textList: ["01.06.2022 - 31.08.2022"],
    },
  ];
  var lessonsList = [
    {
      color: "red",
      day: "Понедельник",
      lessons: ["Русский язык", "Математика", "Чтение", "Музыка", "Хор <span>(до 12:00)</span>",]
    },
    {
      color: "red",
      day: "Вторник",
      lessons: ["Русский язык", "Математика", "Окружающий мир", "Физкультура",]
    },
    {
      color: "red",
      day: "Среда",
      lessons: ["Русский язык", "Математика", "Окружающий мир", "Чтение",]
    },
    {
      color: "red",
      day: "Четверг",
      lessons: ["Русский язык", "Математика", "Чтение", "ИЗО", "Физкультура",]
    },
    {
      color: "red",
      day: "Пятница",
      lessons: ["Русский язык", "Чтение", "Математика",  "Технология",]
    },
  ];
  var callList = [
    {
      lesson: "1 урок",
      callTime: "8:00 - 8:40",
    },
    {
      lesson: "2 урок",
      callTime: "8:50 - 9:30",
    },
    {
      lesson: "3 урок",
      callTime: "9:50 - 10:30",
    },
    {
      lesson: "4 урок",
      callTime: "10:40 - 11:20",
    },
    {
      lesson: "5 урок",
      callTime: "11:40 - 12:20",
    },
  ];
  var sectionsList = [
    {
      link: "schedule.html",
      img: "img-menu-1",
      title: "Расписание",
    },
    {
      link: "info.html",
      img: "img-menu-2",
      title: "Полезная информация",
    },
    {
      link: "holidays.html",
      img: "img-menu-3",
      title: "Каникулы",
    },
    {
      link: "news.html",
      img: "img-menu-5",
      title: "Новости",
    },
    {
      link: "gallery.html",
      img: "img-menu-4",
      title: "Галерея",
    },
  ];
  var infoList = [
    {
      text: "Активные каникулы",
      link: "downloads/Zima-belaya skazka.pdf",
    },
    {
      text: "Всероссийские конкурсы",
      link: "downloads/Kormushka dlya pticzh.pdf",
    },
  ];
  var readList = ["Ничего не&nbsp;делайте за&nbsp;ребенка из&nbsp;того, что он&nbsp;может и&nbsp;умеет делать сам.", "Воспитывайте интерес ребенка к&nbsp;чтению личным примером.", "Не&nbsp;заставляйте ребенка читать насильно, заинтересуйте его чтением, подбирая книги, которые могли&nbsp;бы чем-то его привлечь.", "Можно купить школьнику аудиокнигу по&nbsp;произведениям русских классиков, можно найти и&nbsp;показать достойный фильм, снятый по&nbsp;классике, а&nbsp;потом попросить прочитать книгу. Обсудите различия.", "Приучите ребенка значение любого незнакомого слова смотреть в&nbsp;словаре.", "Совместное чтение книг, пересказ прочитанного друг другу и&nbsp;невольно возникающий при этом обмен мнениями&nbsp;&mdash; естественный путь читательского общения в&nbsp;семье.", "Вспоминайте любимые книги своего детства, как&nbsp;бы разжигая аппетит к&nbsp;важным для каждого человека книгам. Пересматривайте книги собственной библиотеки с&nbsp;участием детей. О&nbsp;книгах любимых рассказывайте с&nbsp;восхищением.", "Поручите школьнику составить каталог домашних книг. Опыт показывает, что он&nbsp;может найти интересную для себя, копаясь в&nbsp;книгах.", "Проконтролируйте, чтобы в&nbsp;дорогу была взята интересная книга.", "Если юный читатель увлекся какой-либо темой, подкиньте ему нужную литературу. Позаботьтесь о&nbsp;том, чтобы в&nbsp;руки ребенка попадали действительно хорошие книги.", "Убедите школьника записаться в&nbsp;городскую библиотеку и&nbsp;посещать ее&nbsp;не&nbsp;реже двух раз в&nbsp;месяц. Учитель с&nbsp;удовольствием порекомендует интересные книги."];
  var rulesList = ["Главное: старайся жить так, чтобы людям рядом с&nbsp;тобой было хорошо.", "Прежде, чем обратиться к&nbsp;человеку, улыбнись ему: ведь добрые отношения начинаются с&nbsp;улыбки.", "Научись радоваться не&nbsp;только своим успехам, но&nbsp;и&nbsp;успехам товарищей по&nbsp;классу.", "Никогда никому не&nbsp;завидуй и&nbsp;не&nbsp;ябедничай: ябеда озлобляет людей и&nbsp;разрушает их&nbsp;отношения.", "Старайся прийти на&nbsp;помощь товарищу, не&nbsp;жди пока тебя об&nbsp;этом попросят.", "Если тебе будет плохо, не&nbsp;спеши обвинять в&nbsp;этом других. Учись терпеть неприятности. Плохое скоро проходит.", "Дорожи школьной дружбой. Цени свой класс и&nbsp;свою школу.", "И&nbsp;еще о&nbsp;главном: относись к&nbsp;людям так, как ты&nbsp;хочешь, чтобы относились к&nbsp;тебе."];
  var newsList = [
    {
      datetime: "01-10-2021",
      date: "2021/10/01",
      text: ["<b>1&nbsp;октября</b> наши ребята поздравляли своих бабушек и&nbsp;дедушек <b>с&nbsp;днём пожилого человека.</b>"],
      videos: [
        {
          name: "",
        }
      ]
    },
    {
      datetime: "18-09-2021",
      date: "2021/09/18",
      text: ["<b>18&nbsp;сентября</b> в&nbsp;нашем классе прошла <b>викторина</b>, посвященная ПДД в&nbsp;рамках акции <b>&laquo;Внимание- дети&raquo;<//b>"],
      images: [
        {
          name: "IMG_20210918_090102_858.jpg",
          width: "1080",
          height: "1080",
          alt: "ученики 1 В класса",
        },
        {
          name: "IMG_20210918_090103_347.jpg",
          width: "1080",
          height: "1080",
          alt: "ученики 1 В класса",
        },
        {
          name: "IMG_20210918_090103_398.jpg",
          width: "1080",
          height: "1080",
          alt: "ученики 1 В класса",
        },
        {
          name: "IMG_20210918_090103_033.jpg",
          width: "1080",
          height: "1080",
          alt: "ученики 1 В класса",
        },
        {
          name: "IMG_20210918_090103_219.jpg",
          width: "1080",
          height: "1080",
          alt: "ученики 1 В класса",
        },
        {
          name: "IMG_20210918_090103_287.jpg",
          width: "1080",
          height: "1080",
          alt: "ученики 1 В класса",
        },
      ]
    },
    {
      datetime: "01-09-2021",
      date: "2021/09/01",
      text: ["<b>1&nbsp;сентября- День знаний!</b>", "Двери нашей школы распахнулись, чтобы дать старт новому учебному году. Традиционно прошла торжественная линейка, посвященная дню знаний.", "Праздник 1&nbsp;сентября всегда остаётся незабываемым,радостным и&nbsp;в&nbsp;тоже время волнующим.", "Желаем нашим первоклашкам , чтобы все дни,проведенные в&nbsp;школе были радостными, богатыми на&nbsp;знания, открытия, творчество и&nbsp;достижения!"],
      images: [
        {
          name: "IMG_20210918_085138_287.jpg",
          width: "1080",
          height: "1080",
          alt: "ученики 1 В класса",
        },
        {
          name: "IMG_20210918_085138_185.jpg",
          width: "1080",
          height: "1080",
          alt: "ученики 1 В класса",
        },
        {
          name: "IMG_20210918_085745_986.jpg",
          width: "1080",
          height: "1080",
          alt: "ученики 1 В класса",
        },
      ]
    }
  ]
