mixin empty-page()
  section.empty-page
    .empty-page__wrapper.container
      h1.visually-hidden Пустая страница
      .empty-page__img-box
        +icon("empty-page", 218, 216)
      p.empty-page__text Здесь пока ничего нет...
